<a href="https://colab.research.google.com/github/iri0002/Mask-Map/blob/main/Mask_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import json

# 利用 requests 對 API 來源發送一個請求
url = 'https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json'
response = requests.get(url)

# 將請求回應的內容存成一個字串格式
d = response.text

# 將長得像 json 格式的字串解析成字典或列表
data = json.loads(d)

#print(data)

In [2]:
med_count = {}

# 填入欄位名稱
for d in data['features']:
    county = d['properties']['address'][:3]
    if county not in med_count:
        med_count[county] = 0
    else:
        med_count[county] += 1

print(med_count)
# {'台北市': 123, '新北市': 456 ...}

{'臺北市': 339, '高雄市': 423, '臺中市': 435, '臺南市': 279, '基隆市': 56, '新竹市': 38, '嘉義市': 66, '新北市': 506, '桃園市': 270, '新竹縣': 47, '宜蘭縣': 75, '苗栗縣': 56, '彰化縣': 180, '南投縣': 66, '雲林縣': 130, '嘉義縣': 83, '屏東縣': 139, '澎湖縣': 10, '花蓮縣': 46, '臺東縣': 22, '金門縣': 5, '連江縣': 0}

In [3]:
mask_count = {}

# 填入欄位名稱
for d in data['features']:
    county = d['properties']['address'][:3]
    adult = d['properties']['mask_adult']
    if county not in mask_count:
        mask_count[county] = adult
    else:
        mask_count[county] += adult

# 將結果從大到小排列
mask_count = dict(sorted(mask_count.items(), key=lambda item: item[1], reverse = True))

print(mask_count)
# {'台北市': 12345, '新北市': 45678 ...}

{'新北市': 677660, '臺中市': 556440, '高雄市': 428940, '臺南市': 408400, '桃園市': 345600, '臺北市': 323660, '彰化縣': 219400, '雲林縣': 199470, '屏東縣': 184250, '苗栗縣': 134180, '嘉義縣': 113180, '嘉義市': 107840, '宜蘭縣': 106900, '南投縣': 91240, '基隆市': 80100, '花蓮縣': 57330, '新竹縣': 53760, '新竹市': 45630, '臺東縣': 28510, '金門縣': 15510, '澎湖縣': 12600, '連江縣': 7930}

In [20]:
import sqlite3
import datetime

conn = sqlite3.connect('mask_map.db')
c = conn.cursor()

# 新增且清空資料表
c.execute('''CREATE TABLE IF NOT EXISTS pharmacies
             (city text, counts text, createdAt datetime)''')
c.execute('''DELETE FROM pharmacies''')
conn.commit()

# 新增資料
for city,counts in med_count.items():
    t = datetime.datetime.now()
    print(f"INSERT INTO stocks VALUES ('{city}', {counts}, '{t}')")
    c.execute(f"INSERT INTO pharmacies VALUES ('{city}', {counts}, '{t}')")
conn.commit()

# 查詢資料
c.execute("SELECT * FROM pharmacies")
print(c.fetchall())

conn.commit()
conn.close()

INSERT INTO stocks VALUES ('臺北市', 339, '2023-06-07 09:22:29.616968')
INSERT INTO stocks VALUES ('高雄市', 423, '2023-06-07 09:22:29.617961')
INSERT INTO stocks VALUES ('臺中市', 435, '2023-06-07 09:22:29.618357')
INSERT INTO stocks VALUES ('臺南市', 279, '2023-06-07 09:22:29.618757')
INSERT INTO stocks VALUES ('基隆市', 56, '2023-06-07 09:22:29.619035')
INSERT INTO stocks VALUES ('新竹市', 38, '2023-06-07 09:22:29.619332')
INSERT INTO stocks VALUES ('嘉義市', 66, '2023-06-07 09:22:29.619628')
INSERT INTO stocks VALUES ('新北市', 506, '2023-06-07 09:22:29.619894')
INSERT INTO stocks VALUES ('桃園市', 270, '2023-06-07 09:22:29.620168')
INSERT INTO stocks VALUES ('新竹縣', 47, '2023-06-07 09:22:29.620459')
INSERT INTO stocks VALUES ('宜蘭縣', 75, '2023-06-07 09:22:29.620738')
INSERT INTO stocks VALUES ('苗栗縣', 56, '2023-06-07 09:22:29.620994')
INSERT INTO stocks VALUES ('彰化縣', 180, '2023-06-07 09:22:29.621260')
INSERT INTO stocks VALUES ('南投縣', 66, '2023-06-07 09:22:29.621593')
INSERT INTO stocks VALUES ('雲林縣', 130, '2023-06-07 09:22:29.621872')
INSERT INTO stocks VALUES ('嘉義縣', 83, '2023-06-07 09:22:29.622134')
INSERT INTO stocks VALUES ('屏東縣', 139, '2023-06-07 09:22:29.622388')
INSERT INTO stocks VALUES ('澎湖縣', 10, '2023-06-07 09:22:29.622689')
INSERT INTO stocks VALUES ('花蓮縣', 46, '2023-06-07 09:22:29.622947')
INSERT INTO stocks VALUES ('臺東縣', 22, '2023-06-07 09:22:29.623105')
INSERT INTO stocks VALUES ('金門縣', 5, '2023-06-07 09:22:29.623137')
INSERT INTO stocks VALUES ('連江縣', 0, '2023-06-07 09:22:29.623165')
[('臺北市', '339', '2023-06-07 09:22:29.616968'), ('高雄市', '423', '2023-06-07 09:22:29.617961'), ('臺中市', '435', '2023-06-07 09:22:29.618357'), ('臺南市', '279', '2023-06-07 09:22:29.618757'), ('基隆市', '56', '2023-06-07 09:22:29.619035'), ('新竹市', '38', '2023-06-07 09:22:29.619332'), ('嘉義市', '66', '2023-06-07 09:22:29.619628'), ('新北市', '506', '2023-06-07 09:22:29.619894'), ('桃園市', '270', '2023-06-07 09:22:29.620168'), ('新竹縣', '47', '2023-06-07 09:22:29.620459'), ('宜蘭縣', '75', '2023-06-07 09:22:29.620738'), ('苗栗縣', '56', '2023-06-07 09:22:29.620994'), ('彰化縣', '180', '2023-06-07 09:22:29.621260'), ('南投縣', '66', '2023-06-07 09:22:29.621593'), ('雲林縣', '130', '2023-06-07 09:22:29.621872'), ('嘉義縣', '83', '2023-06-07 09:22:29.622134'), ('屏東縣', '139', '2023-06-07 09:22:29.622388'), ('澎湖縣', '10', '2023-06-07 09:22:29.622689'), ('花蓮縣', '46', '2023-06-07 09:22:29.622947'), ('臺東縣', '22', '2023-06-07 09:22:29.623105'), ('金門縣', '5', '2023-06-07 09:22:29.623137'), ('連江縣', '0', '2023-06-07 09:22:29.623165')]

In [22]:
import sqlite3
import datetime

conn = sqlite3.connect('example.db')
c = conn.cursor()

# 新增且清空資料表
c.execute('''CREATE TABLE IF NOT EXISTS masks
             (city text, counts text, createdAt datetime)''')
c.execute('''DELETE FROM masks''')
conn.commit()

# 新增資料
for city,counts in mask_count.items():
  t = datetime.datetime.now()
  c.execute(f"INSERT INTO masks VALUES ('{city}', {counts}, '{t}')")
  conn.commit()

# 查詢資料
c.execute("SELECT * FROM masks")
print(c.fetchall())

conn.commit()
conn.close()

[('新北市', '677660', '2023-06-07 09:25:19.843138'), ('臺中市', '556440', '2023-06-07 09:25:19.852892'), ('高雄市', '428940', '2023-06-07 09:25:19.860743'), ('臺南市', '408400', '2023-06-07 09:25:19.870190'), ('桃園市', '345600', '2023-06-07 09:25:19.877985'), ('臺北市', '323660', '2023-06-07 09:25:19.886061'), ('彰化縣', '219400', '2023-06-07 09:25:19.893590'), ('雲林縣', '199470', '2023-06-07 09:25:19.899816'), ('屏東縣', '184250', '2023-06-07 09:25:19.907405'), ('苗栗縣', '134180', '2023-06-07 09:25:19.914902'), ('嘉義縣', '113180', '2023-06-07 09:25:19.922983'), ('嘉義市', '107840', '2023-06-07 09:25:19.930836'), ('宜蘭縣', '106900', '2023-06-07 09:25:19.938740'), ('南投縣', '91240', '2023-06-07 09:25:19.946160'), ('基隆市', '80100', '2023-06-07 09:25:19.954410'), ('花蓮縣', '57330', '2023-06-07 09:25:19.962593'), ('新竹縣', '53760', '2023-06-07 09:25:19.970596'), ('新竹市', '45630', '2023-06-07 09:25:19.979484'), ('臺東縣', '28510', '2023-06-07 09:25:19.986687'), ('金門縣', '15510', '2023-06-07 09:25:19.994135'), ('澎湖縣', '12600', '2023-06-07 09:25:20.002605'), ('連江縣', '7930', '2023-06-07 09:25:20.011275')]